* {
    margin: 0;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}

body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    width: 100%;
    margin: 0;
    padding: 5px 20px;
}

.container {
    margin: 20px auto;
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
}

h2 {
    text-align: center;
}

form {
    width: 100%;
}

input {
    width: 100%;
}

button {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.invalid-feedback {
    color: #ff0000;
    text-align: center;
    margin-top: 10px;
}

@import url("forms.css");
@import url("tables.css");
@import url("homepage.css");
@import url("gallery.css");
@import url("portfolio.css");

html{overflow-y:scroll;}
body{margin:0; padding:0; font-size:12px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; background-color:#E0E0E0;}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style-type:none;}

.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}

a{outline:none; text-decoration:none; color:#A3443E; background-color:#E0E0E0;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{display:block; margin:0; padding:0; border:none;}
.imgl, .imgr{border:1px solid #C7C5C8; padding:5px;}
.imgl{margin:0 8px 8px 0; clear:left;}
.imgr{margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block; margin:0 0 1px 0; text-align:left;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{margin:0 0 15px 0; padding:0; font-size:20px; font-weight:normal; line-height:normal;}

/* ----------------------------------------------Generalise------------------------------------- */

#header, #topbar, #topnav, #breadcrumb, .container, #footer, #copyright{display:block; position:relative; margin:0 auto;}

/* ----------------------------------------------Header------------------------------------- */

#header{text-align:center; text-transform:uppercase;}
#header h1, #header p{margin:0; padding:0; list-style:none; line-height:normal;}
#header h1{font-size:100px}
#header p{margin-top:-20px; font-size:20px}

/* ----------------------------------------------Topbar------------------------------------- */

#topbar{padding:15px 0; border-bottom:1px solid #999999; border-radius: 0;}
#topbar .fl_left{margin:8px 0 0 0; padding:0;}
#topbar .fl_left, #topbar .fl_left a{color:#000000;}

.block{
    font-size: 20px;
}

.whitebox{
    padding:30px;
    color:#999999;
    background-color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.whitebox a{color:#A3443E; background-color:#FFFFFF;}
.content{display:block; float:left; width:600px;}

/* ----------------------------------------------Footer------------------------------------- */

#footer{padding:20px 0; border-top:1px solid #999999; border-bottom:1px solid #999999;}
#footer a{color:#787878; background-color:#E0E0E0;}
#footer h2, #footer p, #footer ul, #footer a{margin:0; padding:0; font-weight:normal; list-style:none; line-height:normal;}
#footer h2{color:#999999; background-color:#E0E0E0; font-size:16px; font-weight:normal; margin-bottom:10px; padding-bottom:6px; border-bottom:1px dotted #585858;}
#footer .latestgallery{display:block; float:left; width:420px; margin:0; padding:0;}
#footer .latestgallery li{display:block; float:left; width:80px; height:80px; margin:15px 17px 0 0; padding:5px; color:#333333; background-color:#FFFFFF; border:1px solid #B4B4B4;}
#footer .footbox{display:block; float:left; width:220px; margin:0 0 0 50px; padding:0;}
#footer .footbox li{margin:22px 0 0 0;}
#footer div.last, #footer .latestgallery li.last{margin-right:0;}
#footer .footbox li.last{margin-bottom:0;}
