{% extends 'newlay.html' %}

{% block content %}
    <link rel="stylesheet" href="static/layout.css" type="text/css" />
    <h1>Challenge 5</h1>
    <p>Dave noticed that two of his friends have been secretly comminucating without his knowledge.
        He has managed to expertly intercept these packets of their communication and NEEDS to know what they are talking about.
        he suspects they are playing a game and wants to respond with the action that will guarantee a win.</p>
        <a href="..\static\mean_friends.pcapng" download="suspicious_traffic.pcapng">download the capture here</a>
{% endblock %}
