{% extends 'newlay.html' %}

{% block content %}
    <link rel="stylesheet" href="static/layout.css" type="text/css" />
    <h1>Challenge 5</h1>
    <p>dave noticed that two of his friends have been secretly comminucating without his knowledge.
        he intercepted these packets of their communication and NEEDS to know what they are talking about.
        he suspects they are playing a game and wants to respond with the sequence of actions that will guarantee a win.</p>
        <a href="challenge\static\suspicious_traffic.pcapng" download="suspicious_traffic.pcapng">Download yourfile.txt</a>
{% endblock %}
