{% extends 'newlay.html' %}

{% block content %}
    <link rel="stylesheet" href="static/layout.css" type="text/css" />
    <h1>Challenge 6</h1>
    <p>Dave has recovered this string from his grandmother's old phone and reckons it's the password to her bitcoin wallet. Help him recover it<br>Hover over the hint to reveal</p>
    <p>Hint: <span class="hint">She's not used to a keyboard, she does everything with that phone</span></p>
    <p>ODM5ODQ2NDA5MjcwNzYwNDI3MzA0NjA4NDMwNjUzMzYwMzI5Nw==</p>
{% endblock %}
