{% extends 'layout.html' %}

<title>Steganosaurus</title>

{% block content %}
<div class="wrapper">
  <div id="header">
    <h1>Steganosaurus</h1>
    <p>SUCSS 2025</p>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="topbar" style="display: flex;">
    <div class="fl_left">Disc: tombash | Mail: tp1g24@soton.ac.uk</div>
    <div class="fl_left">Disc: hazza_ninja | Mail: hw3g24@soton.ac.uk</div> 
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
    <div class="whitebox" id="hpage_services">
      <div class="block"><strong><a href = "/1/">Challenge 1</a></strong>
        <p>washing machine mixup</p>
        <p class = "medium">Medium</p>
      </div>
      <div class="block"><strong><a href = "/2/">Challenge 2</a></strong>
        <p>heroglips</p>
        <p class = "medium">Medium</p>
      </div>
      <div class="block"><strong><a href = "/3/">Challenge 3</a></strong>
        <p>you're like a T-rex</p>
        <p class = "hard">Hard</p>
      </div>
      <div class="block"><strong><a href = "/4/">Challenge 4</a></strong>
        <p>Just do it in reverse</p>
        <p class = "medium">Medium</p>
      </div>
      <div class="block"><strong><a href = "/5/">Challenge 5</a></strong>
        <p>Dave sniffs rudeness</p>
        <p class = "hard">Hard</p>
      </div>
      <div class="block"><strong><a href = "/6/">Challenge 6</a></strong>
        <p>Outdated password recovery</p>
        <p class = "easy">Easy</p>
      </div>
    </div>
    <div>
      <script>
        async function checkpass() {
            const inputText = document.getElementById('textInput').value;
            const response = await fetch('/checkpass', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ input_text: inputText })
            });
            const data = await response.json();
            alert(data.result);
        }
    </script>

    <input type="text" id="textInput" placeholder="Enter password...">
    <button onclick="checkpass()">Submit</button>


    </div>
  </div>
</div>
{% endblock %}
