{% extends 'layout.html' %}

<title>Steganosaurus</title>

{% block content %}
<div class="wrapper">
  <div id="header">
    <h1>Steganosaurus</h1>
    <p>SUCSS 2025</p>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="topbar">
    <div class="fl_left">Disc: tombash | Mail: tp1g24@soton.ac.uk</div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
    <div class="whitebox" id="hpage_services">
      <div class="block"><strong><a href = "/1/">Challenge 1</a></strong>
        <p>You're like a T-rex</p>
      </div>
      <div class="block"><strong><a href = "/2/">Challenge 2</a></strong>
        <p>Like a slide puzzle</p>
      </div>
      <div class="block last"><strong><a href = "/3/">Challenge 3</a></strong>
        <p>Funny Quip</p>
      </div>
      <div class="spacer">&nbsp;</div>
      <div class="block"><strong>Challenge 4</strong>
        <p>Funny Quip</p>
      </div>
      <div class="block"><strong>Challenge 5</strong>
        <p>Funny Quip</p>
      </div>
      <div class="block last"><strong>Challenge 6</strong>
        <p>Funny Quip</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
{% endblock %}
